body
{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

canvas
{
	position: absolute;
    background: black;
    z-index: -1;
}

/******************

      HEADER

******************/

header.header
{
    position: relative;
    width: 100%;
    height: 60px;
    background: #000
}

.header .logo
{
  width: 25%;
  height: 20px;
  padding: 0 20px;
}

.header .logo img
{	
  width: 100%;
}

/********** SHARE ***********/

.share
{
    position: absolute;
    top: 10px;
    right: 0;
    width: 15%;
    height: 100%;
}

.share .button
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: transform 300ms cubic-bezier(0.85, 0.07, 0.23, 0.97);
    will-change: transform;
}

.share .button .icon
{
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.share .button.instagram { transform: translateX(75px) }
.share .button.facebook { transform: translateX(150px) }

.share .button.facebook:hover { transform: translate(150px, -2px) }
.share .button.twitter:hover { transform: translateY(-2px); }
.share .button.instagram:hover { transform: translate(75px, -2px) }


/******************

      MAIN

******************/

/***** MAIN *****/

.main
{
	z-index: 1
}

h1.title
{
    position: absolute;
    text-align: center;
    top: 20%;
    left: 50%;
	color: #E9E9E9;
    font-size: 2rem;
    transform: translateX(-50%)
}

h1.title span
{
	color: #EB0000;
}

.discover
{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%);
}

.discover p
{
    text-align: center;
    color: #EB0000;
    font-size: 1.2rem;
    margin-bottom: 60px;
}

/*** PLANET ***/

.planet
{
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    overflow: hidden;
}

.planet.earth
{
    position: absolute;
    top: 20%;
    right: -12%;
    box-shadow: 0 0 1vw rgba(255, 255, 255, 0.26);
    animation: planetBounce 6s ease-in-out infinite alternate-reverse
}

.planet.mars
{
    position: absolute;
    top: 40%;
    left: -12%;
    box-shadow: 0 0 1vw rgba(255, 255, 255, 0.26);
    animation: planetBounce 6s ease-in-out infinite alternate-reverse
}

.planet img
{
  width: 100%;
  height: 100%;
}

.planet.earth .boxShadow 
{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 100%;
    box-shadow: inset -4vw -4vw 4vw 0vw rgba(0, 0, 0, 0.83);
}

.planet.mars .boxShadow
{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 100%;
    box-shadow: inset -4vw -1.5vw 6vw 0vw rgba(0, 0, 0, 0.83);
}

.clouds
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.clouds .cloud .c1
{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateZ(30deg);
    opacity: 1;
    box-shadow: 0 2vw 0.5vw rgba(7, 7, 7, 0.3);
    animation: cloud 1234s linear infinite, marsCloudOpacity 8s ease-in infinite alternate;
}

.clouds .cloud .c3
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -3%;
    border-radius: 100%;
    transform: rotateZ(30deg);
    opacity: 0.5;
    box-shadow: 0 2vw 1vw rgba(7, 7, 7, 0.3);
}

.earth .clouds .cloud .c1 { animation: cloud 1234s linear infinite, opacityc1 8s ease-in infinite alternate; }
.earth .clouds .cloud .c3 { animation: cloud2 1000s linear infinite, opacityc3 8s ease-in infinite alternate; }
.mars .clouds .cloud .c1 { animation: cloud 1234s linear infinite, marsCloudOpacity 8s ease-in infinite alternate; }
.mars .clouds .cloud .c3 { animation: cloud2 1000s linear infinite, marsCloud2Opacity 8s ease-in infinite alternate; }

@keyframes planetBounce
{
    0% { transform: translateY(0) }
    100% { transform: translateY(0.5vw) }
}

@keyframes cloud
{
    0% { transform: rotateZ(30deg)scale(1.5, 1.5); }
    50% { transform: rotateZ(165deg)scale(1.5, 1.5); }
    100% { transform: rotateZ(360deg)scale(1.5, 1.5); }
}

@keyframes cloud2
{
    0% { transform: rotateZ(30deg)scale(1.5, 1.5); }
    100% { transform: rotateZ(-330deg)scale(1.5, 1.5); }
}

@keyframes opacityc1 
{
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes opacityc3
{
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes marsCloudOpacity
{
    0% { opacity: 0; }
    50% { opacity: 0.2; }
    100% { opacity: 0; }
}

@keyframes marsCloud2Opacity
{
    0% { opacity: 0.25; }
    50% { opacity: 0; }
    100% { opacity: 0.15; }
}

/**** Progress ****/

.progressBar
{
    position: absolute;
    top: 92%;
    left: 50%;
    width: 50%;
    height: 1px;
    background: #ffffff;
    transform: translateX(-50%)
}

.progressBar .checkpoints
{
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background: #000;
    border: 2px solid #ffffff;
    transform: translate(-50%, -50%);
}

.progressBar .checkpoints div
{
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0;
    transition: opacity 300ms ease-in;
    will-change: opacity;
}

.progressBar .checkpoint-2 { left: 25%; }
.progressBar .checkpoint-3 { left: 50%; }
.progressBar .checkpoint-4 { left: 75%; }
.progressBar .checkpoint-5 { left: 100%; }

.progressBar .checkpoint-1.isActive div,
.progressBar .checkpoint-2.isActive div,
.progressBar .checkpoint-3.isActive div,
.progressBar .checkpoint-4.isActive div,
.progressBar .checkpoint-5.isActive div
{
    opacity: 1;
}


/***** Arrows *****/

.arrows
{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
   
}

.arrows .arrow
{
    animation: arrowBounce 2s ease-in infinite alternate-reverse;
}

.arrows .arrow div
{
    display: inline-block;
    width: 30px;
    height: 10px;
    background: rgba(255, 255, 255, 0.26);
    transform: skewY(45deg);
}

.arrows .arrow div:nth-child(2) { transform: translateX(-15%) skewY(-45deg) }

@keyframes arrowBounce
{
    0% {transform: translateY(0)}
    100% {transform: translateY(0.7vw)}
}

/*********************

        EQUALIZER

*********************/

.container 
{
	position: absolute;
	bottom: 20px;
	right: 20px;
    overflow: hidden;
}
  
.equalizer{
    width: 4vw;
    height: 3vw;
    margin: auto;
    font-size: 0;
 }
  
.equalizer .bar
{
    display: inline-block;
    width: 20%;
    height: 100%;
    background: #ccc;
    margin: 0 1%;
    transform-origin: 100% 100%;
    animation: equalizer-bar-bounce 1.5s infinite;
    animation-fill-mode: backwards;
    will-change: transform;
}

.equalizer.muted .bar
{
    animation-play-state: paused;
    transform: scaleY(0.1);
}

@keyframes equalizer-bar-bounce
{
    0% { transform: scaleY(0.1); }
    10% { transform: scaleY(0.86); }
    50% { transform: scaleY(0.33); }
    70% { transform: scaleY(0.68); }
    100% { transform: scaleY(0.1); }
}
  
.equalizer .bar-1 { animation-delay: 0.1s; }
.equalizer .bar-2 { animation-delay: 0.7s; }
.equalizer .bar-3 { animation-delay: 0.2s; }
.equalizer .bar-4 { animation-delay: 0.5s; }
.equalizer .bar-5 { animation-delay: 0.8s; }